.btn-edit,
.btn-delete{
    padding: 6px 12px;
    margin: 4px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s ease;
}

/* 編輯按鈕：紫色 */
.btn-edit {
    background-color: #6c63ff;
    color: white;
}

.btn-edit:hover {
    background-color: #574fe4;
}

/* 刪除按鈕：紅色 */
.btn-delete {
    background-color: #e74c3c;
    color: white;
}

.btn-delete:hover {
    background-color: #c0392b;
}

/*users*/
.user-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    margin-top: 20px;
}

.user-table thead {
    background-color: #f2c94c;
    color: #333;
    text-align: center;
}

.user-table th,
.user-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

.user-table td form {
    display: inline;
}