
<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>聯絡資訊</h4>
      <a href="https://maps.app.goo.gl/ohtsM5hHG4acK6cV6" target="_blank">📍 104台北市中山區敬業一路178號</a>
      <p>📍 營業時間 :</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;週二--週五 11:00 ~ 18:30</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;週六--週日 12:00 ~ 17:00</p>
    </div>

    <div class="footer-section">
      <h4>追蹤我們</h4>
      <a href="https://www.instagram.com/thecrunchybear/" target="_blank">Instagram</a><br>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 The Crunchy Bear. All rights reserved.</p>
  </div>
</footer>
