/*product_management*/
h2.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.product-table thead {
    background-color: #f2c94c;
    color: #333;
    text-align: center;
}

.product-table th, .product-table td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}

.product-table img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.product-container {
    width: 95%;
    margin: auto;
}

.btn-edit,
.btn-delete,
.btn-build {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 4px;
    transition: background-color 0.2s ease;
}

.btn-edit {
    background-color: #6c63ff;
    color: white;
}

.btn-edit:hover {
    background-color: #574fe4;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
}

.btn-delete:hover {
    background-color: #c0392b;
}

.btn-build {
    background-color: #ffc14e;
    color: white;
}

.btn-build:hover {
    background-color: #f0a210;
}

.table-bottom-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}